{% extends "layout.twig" %}

{% block content %}
    <h1>Browse best articles from our users:</h1>
    {% if articles is empty %}
        <h1>Something went wrong. No results found. Please try again!</h1>
    {% else %}
        <div class="article-container">
            {% for article in articles %}
                <div class="article-card">
                    <a href="/articles/{{ article.id() }}"><h2>{{ article.title|capitalize }}</h2></a>
                    <img src="https://placehold.co/800x500" alt="Article Image">
                    <p>{{ article.content|capitalize }}</p>
                    <div class="author-info">
                        <p>Author:
                            <a href="users/{{ article.author.id }}">
                                {{ article.author.userName }}</a>
                        </p>
                        <img class="userImage" src="https://placehold.co/100x100" alt="User image">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}