{% extends "layout.twig" %}

{% block content %}
    <h1>{{ article.title|capitalize }}<a href="/articles/edit/{{ article.id }}">EDIT</a></h1>
    {% if article is empty %}
        <h1>Something went wrong. No results found. Please try again!</h1>
    {% else %}
        <div class="article">
            <form class="delete-form" method="post" action="/articles/delete">
                <button type="submit" name="delete" onClick="confirm('Do you really want to delete this article?')"
                        value={{ article.id }}>DELETE
                </button>
            </form>
            <p>By :
                <a href="/users/{{ article.author.id }}"> {{ article.author.username }}</a>
            </p>
            <img src="https://placehold.co/800x500" alt="Article Image">
            <p>{{ article.content|capitalize }}</p>
            <p>
                Added: {{ article.createdAt }}
            </p>
        </div>
        <div class="comments">
            <h1>Comments({{ comments|length }}):</h1>
            {% for comment in comments %}
                <div class="comment">
                    <p>
                        <img class="commentatorPhoto" src="https://placehold.co/30x30" alt="User image">
                        <strong class="comment-name">{{ comment.name|capitalize }}</strong>
                    </p>
                    <p>{{ comment.body|capitalize }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}